<h4>Login</h4>
<form method="post" action="/login">
  <label>Username:</label>
  <input type="text" name="username">
  <label>Password:</label>
  <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
<br></br>
Haven't got an account? <a href="/signup">Signup here.</a>
