<h4>Signup</h4>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<form method="post" action="/signup">
  <label>Username:</label>
  <input type="text" name="username">
  <label>Email:</label>
  <input type="email" name="email">
  <label>Password:</label>
  <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
<br></br>
Already have an account? <a href="/login">Click here to login.</a>
