<h4>New Event</h4>
<form method="post" action="/new">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Date:</label>
  <input type="date" name="date">
  <label>Time:</label>
  <input type="time" name="time">
  <label>Description</label>
  <input type="text" name="description">
  <label>Contact Info:</label>
  <input type="text" name="contact">
  <input type="submit" value="Submit">
</form>
