<h4>New Event</h4>
<form method="post" action="/new">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Date:</label>
  <input type="date" name="date">
  <label>Time:</label>
  <input type="time" name="time">
  <label>Location:</label>
  <input type="text" name="location">
  <br></br>
  <label>Description:</label>
  <input type="text" name="description">
  <br></br>
  <label>Contact Info:</label>
  <input type="text" name="contact">
  <br></br>
  <input type="submit" value="Submit">
</form>
