<div class="jumbotron">
  <div class="wrapper">
    <div class="content">
      <br></br>
      <h2><strong>Welcome to Community Events</strong></h2>
      <h4>Hamilton's source for local entertainment.</h4><br></br>
      <span class="glyphicon glyphicon-stats"></span><br></br>
      <a href="/login">Sign In</a> or <a href="/signup">Sign Up</a> to continue.
    </div>
  </div>
</div>
