<!DOCTYPE html>
<html>
  <head>
    <title>Community Events</title>
  </head>
  <body>
    <h1>Welcome to Community Events!</h1>
    <h4>Hamilton's source for local entertainment!</h4>
    <%=yield%>
  </body>
</html>
